body, html
{
    height: 100%;
    margin: 0;
    padding: 0;
   
}

section{
    min-height: 100%;
}

.profile
{
    width: 300px;
    border-color: blue;
    border-style: solid;
}

img
{
    width: 200px;
    height: 200px;
    /* margin: 15px ; */
    border-radius: 50%;
    margin: 10px auto 10px auto;
    display: block;
}



  
  .vertical-menu a {
    background-color: black; /* Grey background color */
    color: white; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 10px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
    border-style: solid;
    border-width: 1px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .vertical-menu a:hover {
    background-color: grey; /* Dark grey background on mouse-over */
  }
  
  .vertical-menu a.active {
    background-color: #4CAF50; /* Add a green color to the "active/current" link */
    color: white;
  }

  h2,h3
  {
      text-align: center;
  }

  i {
    border: solid grey;
    border-width: 0 3px 3px 0;
    /* display: inline-block; */
    padding: 5px;
    float: right;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }


  /* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.container {
  width: 100%; /* Full width */
  background-color: black; /* Grey background */
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 5px; /* Add top padding */
  padding-bottom: 5px; /* Add bottom padding */
  padding-left: 10px;
  color: white; /* White text color */
}

.html {width: 90%; background-color: blue;} /* Green */
.css {width: 80%; background-color: blue;} /* Blue */
.js {width: 65%; background-color: blue;} /* Red */
.php {width: 60%; background-color: blue;} /* Dark Grey */


/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  /* width: 50px; */
  text-align: center;
  text-decoration: none;
}



/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: green;
  color: white;
}



